 {
 	"ZOOitem Pro":  {
		"version": "3.0.1",
		"manifest": "modules\/mod_zooitempro\/mod_zooitempro.xml",
		"url": "http:\/\/www.zoolanders.com\/extensions\/zooitem-pro"
	},
 	"ZOOaccess":  {
		"version": "3.0",
		"manifest": "plugins\/system\/zooaccess\/zooaccess.xml",
		"url": "http:\/\/www.zoolanders.com\/extensions\/zooaccess"
	},
	"ZOOaksubs":  {
		"version": "3.0",
		"manifest": "plugins\/system\/zooaksubs\/zooaksubs.xml",
		"url": "http:\/\/www.zoolanders.com\/extensions\/zooaksubs"
	},
	"ZOOcompare":  {
		"version": "3.0",
		"manifest": "plugins\/system\/zoocompare\/zoocompare.xml",
		"url": "http:\/\/www.zoolanders.com\/extensions\/zoocompare"
	},
	"ZOOfilter":  {
		"version": "3.0.5",
		"manifest": "plugins\/system\/zoofilter\/zoofilter.xml",
		"url": "http:\/\/www.zoolanders.com\/extensions\/zoofilter"
	},
	"ZOOmailing":  {
		"version": "3.0.3",
		"manifest": "plugins\/acymailing\/zoomailing\/zoomailing.xml",
		"url": "http:\/\/www.zoolanders.com\/extensions\/zoomailing"
	},
	"Audio":  {
		"version": "3.0",
		"manifest": "plugins\/system\/zoo_zlelements\/zoo_zlelements\/elements\/audio\/audio.xml",
		"url": "http:\/\/www.zoolanders.com\/extensions\/audio"
	},
	"Media Pro":  {
		"version": "3.0.8",
		"manifest": "plugins\/system\/zoo_zlelements\/zoo_zlelements\/elements\/mediapro\/mediapro.xml",
		"url": "http:\/\/www.zoolanders.com\/extensions\/media-pro"
	},
	"Download Pro":  {
		"version": "3.0.7",
		"manifest": "plugins\/system\/zoo_zlelements\/zoo_zlelements\/elements\/downloadpro\/downloadpro.xml",
		"url": "http:\/\/www.zoolanders.com\/extensions\/download-pro"
	},
	"Image Pro":  {
		"version": "3.0.3",
		"manifest": "plugins\/system\/zoo_zlelements\/zoo_zlelements\/elements\/imagepro\/imagepro.xml",
		"url": "http:\/\/www.zoolanders.com\/extensions\/image-pro"
	},
	"Googlemaps Pro":  {
		"version": "3.0",
		"manifest": "plugins\/system\/zoo_zlelements\/zoo_zlelements\/elements\/googlemapspro\/googlemapspro.xml",
		"url": "http:\/\/www.zoolanders.com\/extensions\/events"
	},
	"Date Pro":  {
		"version": "3.0",
		"manifest": "plugins\/system\/zoo_zlelements\/zoo_zlelements\/elements\/datepro\/datepro.xml",
		"url": "http:\/\/www.zoolanders.com\/extensions\/events"
	},
	"Link Pro":  {
		"version": "3.0",
		"manifest": "plugins\/system\/zoo_zlelements\/zoo_zlelements\/elements\/linkpro\/linkpro.xml",
		"url": "http:\/\/www.zoolanders.com\/extensions\/link-pro"
	},
	"Related Categories Pro":  {
		"version": "3.0",
		"manifest": "plugins\/system\/zoo_zlelements\/zoo_zlelements\/elements\/relatedcategoriespro\/relatedcategoriespro.xml",
		"url": "http:\/\/www.zoolanders.com\/extensions\/related-categories-pro"
	},
	"Related Items Pro":  {
		"version": "3.0",
		"manifest": "plugins\/system\/zoo_zlelements\/zoo_zlelements\/elements\/relateditemspro\/relateditemspro.xml",
		"url": "http:\/\/www.zoolanders.com\/extensions\/related-items-pro"
	},
	"Texts":  {
		"version": "3.0",
		"manifest": "plugins\/system\/zoo_zlelements\/zoo_zlelements\/elements\/textareapro\/textareapro.xml",
		"url": "http:\/\/www.zoolanders.com\/extensions\/texts"
	}
}