 {
	"name": "Company",
	"elements":  {
		"ed9cdd4c-ae8b-4ecb-bca7-e12a5153bc02":  {
			"name": "Subtitle",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"a77f06fc-1561-453c-a429-8dd05cdc29f5":  {
			"name": "Teaser Description",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "0",
			"type": "textarea"
		},
		"1a85a7a6-2aba-4480-925b-6b97d311ee6c":  {
			"name": "Description",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"ffcc1c50-8dbd-4115-b463-b43bdcd44a57":  {
			"name": "Image",
			"description": "",
			"access": "1",
			"upload_directory": "images\/zoo\/uploads\/",
			"max_upload_size": "512",
			"type": "image"
		},
		"4339a108-f907-4661-9aab-d6f3f00e736e":  {
			"name": "Street",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"ea0666d7-51e3-4e52-8617-25e3ad61f8b8":  {
			"name": "Postcode",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"90a18889-884b-4d53-a302-4e6e4595efa0":  {
			"name": "City",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"6a20c005-7bd3-4014-919a-6edfd2239284":  {
			"name": "State",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"81c5f642-2f7f-491f-b1c2-ce32ec688125":  {
			"name": "Country",
			"description": "",
			"access": "1",
			"multiselect": "1",
			"selectable_country":  {
				"0": "DE",
				"1": "GB",
				"2": "US"
			},
			"type": "country"
		},
		"b870164b-fe78-45b0-b840-8ebceb9b9cb6":  {
			"name": "Telephone",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"8a91aab2-7862-4a04-bd28-07f1ff4acce5":  {
			"name": "Fax",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"3f15b5e4-0dea-4114-a870-1106b85248de":  {
			"name": "E-Mail",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"type": "email"
		},
		"0b3d983e-b2fa-4728-afa0-a0b640fa34dc":  {
			"name": "Website",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default_target": "0",
			"add_protocol": "1",
			"type": "link"
		},
		"7056f1d2-5253-40b6-8efd-d289b10a8c69":  {
			"name": "Employee",
			"description": "",
			"access": "1",
			"selectable_types":  {
				"0": "employee"
			},
			"type": "relateditems"
		},
		"cf6dd846-5774-47aa-8ca7-c1623c06e130":  {
			"name": "Rating",
			"description": "",
			"access": "1",
			"stars": "5",
			"allow_vote": "1",
			"type": "rating"
		},
		"160bd40a-3e0e-48de-b6cd-56cdcc9db892":  {
			"name": "Maps",
			"description": "",
			"access": "1",
			"locale": "en",
			"key": "",
			"type": "googlemaps"
		},
		"_itemaccess":  {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor":  {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory":  {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemcommentslink":  {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated":  {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit":  {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage":  {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits":  {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink":  {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified":  {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname":  {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint":  {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down":  {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up":  {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext":  {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable":  {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate":  {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag":  {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}