 {
	"download.file.feed":  {
		"description":  {
			"0":  {
				"altlabel": "",
				"element": "b9e826b5-e671-4fe8-a447-bf08c8c6b8e4",
				"separated_by": "separator=[, ]",
				"showlabel": "0"
			},
			"1":  {
				"altlabel": "",
				"element": "dbb6e295-9609-4fcc-a527-bc6eac248a6a",
				"separated_by": "separator=[, ]",
				"showlabel": "0"
			},
			"2":  {
				"altlabel": "",
				"element": "09ab8526-ffd4-434c-ac61-5bef2365b416",
				"separated_by": "separator=[, ]",
				"showlabel": "0"
			},
			"3":  {
				"altlabel": "",
				"element": "b6924e9c-b5af-4568-960f-184a68dc35b2",
				"separated_by": "separator=[, ]",
				"showlabel": "0"
			},
			"4":  {
				"altlabel": "",
				"display": "all",
				"element": "c5121091-6f63-43ad-a86a-136025fe6da0",
				"separated_by": "tag=[<div>%s<\/div>]",
				"showlabel": "0"
			}
		}
	},
	"download.file.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"display": "imagelink",
				"download_name": "Download {filename}",
				"element": "21b80eed-e194-4d99-b0aa-6177e7806393"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"display": "buttonlink",
				"download_name": "Download {filename}",
				"element": "21b80eed-e194-4d99-b0aa-6177e7806393"
			}
		},
		"right":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"rating_disabled": "0",
				"show_message": "1",
				"show_microdata": "0",
				"element": "c2f19082-507f-4778-9ddb-aa2d6889d6be"
			}
		},
		"specification":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "Last update",
				"date_format": "%d %B %Y",
				"custom_format": "",
				"separated_by": "separator=[ ]",
				"element": "54dbcdff-2e6b-43b7-9090-723c18dceb5d"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "File size",
				"display": "filesize",
				"download_name": "Download {filename}",
				"element": "f85c494b-2b32-4109-b8c1-083cca2b7db6"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "dbb6e295-9609-4fcc-a527-bc6eac248a6a"
			},
			"3":  {
				"showlabel": "1",
				"altlabel": "Downloaded",
				"display": "filehits",
				"download_name": "Download {filename}",
				"element": "f85c494b-2b32-4109-b8c1-083cca2b7db6"
			},
			"4":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "09ab8526-ffd4-434c-ac61-5bef2365b416"
			},
			"5":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "b6924e9c-b5af-4568-960f-184a68dc35b2"
			}
		},
		"bottom":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"display": "all",
				"element": "c5121091-6f63-43ad-a86a-136025fe6da0"
			}
		}
	},
	"download.file.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"meta":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "Updated on",
				"date_format": "%d %B %Y",
				"custom_format": "",
				"separated_by": "separator=[ ]",
				"element": "54dbcdff-2e6b-43b7-9090-723c18dceb5d"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"display": "imagelink",
				"download_name": "Download {filename}",
				"element": "21b80eed-e194-4d99-b0aa-6177e7806393"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"display": "buttonlink",
				"download_name": "Download {filename}",
				"element": "21b80eed-e194-4d99-b0aa-6177e7806393"
			}
		},
		"specification":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "b9e826b5-e671-4fe8-a447-bf08c8c6b8e4"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "dbb6e295-9609-4fcc-a527-bc6eac248a6a"
			}
		}
	},
	"download.file.submission":  {
		"content":  {
			"0":  {
				"altlabel": "",
				"required": "1",
				"element": "_itemname"
			},
			"1":  {
				"altlabel": "",
				"required": "1",
				"element": "f85c494b-2b32-4109-b8c1-083cca2b7db6"
			},
			"2":  {
				"altlabel": "",
				"required": "1",
				"element": "b9e826b5-e671-4fe8-a447-bf08c8c6b8e4"
			},
			"3":  {
				"altlabel": "",
				"required": "0",
				"element": "c5121091-6f63-43ad-a86a-136025fe6da0"
			},
			"4":  {
				"altlabel": "",
				"required": "0",
				"element": "09ab8526-ffd4-434c-ac61-5bef2365b416"
			},
			"5":  {
				"altlabel": "",
				"required": "0",
				"element": "dbb6e295-9609-4fcc-a527-bc6eac248a6a"
			},
			"6":  {
				"altlabel": "",
				"required": "0",
				"element": "b6924e9c-b5af-4568-960f-184a68dc35b2"
			}
		}
	},
	"download.template.feed":  {
		"description":  {
			"0":  {
				"altlabel": "",
				"element": "352a87bd-3601-4bf2-ab9d-8921468e17a2",
				"separated_by": "separator=[, ]",
				"showlabel": "0"
			},
			"1":  {
				"altlabel": "",
				"element": "aa5f0622-bde0-4d07-95a0-32211889dfa6",
				"separated_by": "separator=[, ]",
				"showlabel": "0"
			},
			"2":  {
				"altlabel": "",
				"element": "7378d870-63d5-4478-8c70-9105dee4b6c8",
				"separated_by": "separator=[, ]",
				"showlabel": "0"
			},
			"3":  {
				"altlabel": "",
				"element": "252e0601-a063-4543-b0b1-dec0641c1aeb",
				"separated_by": "separator=[, ]",
				"showlabel": "0"
			},
			"4":  {
				"altlabel": "",
				"display": "all",
				"element": "a6f4d4be-bace-4108-9c2a-8c7fb9c0b6dd",
				"separated_by": "tag=[<div>%s<\/div>]",
				"showlabel": "0"
			}
		}
	},
	"download.template.full":  {
		"top":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"element": "bf722b66-dbf0-455a-b490-6b908fc801de"
			}
		},
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"display": "imagelink",
				"download_name": "Download {filename}",
				"element": "494df6ff-8a79-42ef-a80b-26e089f6bad3"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"display": "buttonlink",
				"download_name": "Download {filename}",
				"element": "494df6ff-8a79-42ef-a80b-26e089f6bad3"
			}
		},
		"right":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"rating_disabled": "0",
				"show_message": "1",
				"show_microdata": "0",
				"element": "be673df1-b4d3-48f4-a8b3-ceafacb2a8c9"
			}
		},
		"specification":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "Last update",
				"date_format": "%d %B %Y",
				"custom_format": "",
				"separated_by": "separator=[ ]",
				"element": "493942f4-3881-4430-ab02-41c89384475b"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "File size",
				"display": "filesize",
				"download_name": "Download {filename}",
				"element": "453e23c1-964c-4c94-87bd-71e7d14a3cd7"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "aa5f0622-bde0-4d07-95a0-32211889dfa6"
			},
			"3":  {
				"showlabel": "1",
				"altlabel": "Downloaded",
				"display": "filehits",
				"download_name": "Download {filename}",
				"element": "453e23c1-964c-4c94-87bd-71e7d14a3cd7"
			},
			"4":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "7378d870-63d5-4478-8c70-9105dee4b6c8"
			},
			"5":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "252e0601-a063-4543-b0b1-dec0641c1aeb"
			}
		},
		"bottom":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"display": "all",
				"element": "a6f4d4be-bace-4108-9c2a-8c7fb9c0b6dd"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "a476f82b-f3ad-4efd-9f1f-c7cf5a66028f"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "8393b973-7b99-48c6-b9ba-cbe4a742f45d"
			},
			"3":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "334226a8-d318-4eb1-8240-122df482bc94"
			},
			"4":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "e8107d87-a2e1-40d3-b4c7-fd8e1e9275a2"
			},
			"5":  {
				"showlabel": "0",
				"altlabel": "",
				"layout":  {
					"_layout": "default.php"
				},
				"element": "bf9bcead-fc9c-44a9-a7e8-83af00bc5570"
			}
		}
	},
	"download.template.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"meta":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "Updated on",
				"date_format": "%d %B %Y",
				"custom_format": "",
				"separated_by": "separator=[ ]",
				"element": "493942f4-3881-4430-ab02-41c89384475b"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"display": "imagelink",
				"download_name": "Download {filename}",
				"element": "494df6ff-8a79-42ef-a80b-26e089f6bad3"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"display": "buttonlink",
				"download_name": "Download {filename}",
				"element": "494df6ff-8a79-42ef-a80b-26e089f6bad3"
			}
		},
		"specification":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "352a87bd-3601-4bf2-ab9d-8921468e17a2"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "aa5f0622-bde0-4d07-95a0-32211889dfa6"
			}
		}
	},
	"download.template.submission":  {
		"content":  {
			"0":  {
				"altlabel": "",
				"required": "1",
				"element": "_itemname"
			},
			"1":  {
				"altlabel": "",
				"required": "1",
				"element": "453e23c1-964c-4c94-87bd-71e7d14a3cd7"
			},
			"2":  {
				"altlabel": "",
				"required": "1",
				"element": "352a87bd-3601-4bf2-ab9d-8921468e17a2"
			},
			"3":  {
				"altlabel": "",
				"required": "0",
				"element": "a6f4d4be-bace-4108-9c2a-8c7fb9c0b6dd"
			},
			"4":  {
				"altlabel": "",
				"required": "0",
				"element": "7378d870-63d5-4478-8c70-9105dee4b6c8"
			},
			"5":  {
				"altlabel": "",
				"required": "0",
				"element": "aa5f0622-bde0-4d07-95a0-32211889dfa6"
			},
			"6":  {
				"altlabel": "",
				"required": "0",
				"element": "252e0601-a063-4543-b0b1-dec0641c1aeb"
			}
		}
	}
}