<?xml version="1.0" encoding="utf-8"?>
<config>
	<!-- Joomla! 1.5 params -->
	<params>
		<param
			name="maintenance"
			type="radio"
			default="0"
			label="COM_JMONITORINGSLAVE_CONFIG_MAINTENANCE"
			description="COM_JMONITORINGSLAVE_CONFIG_MAINTENANCE_DESC"
		>
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
	</params>
	<!-- Joomla! 2.5 - 3.0 fields -->
	<fieldset name="watchfulli" label="Configuration">
		<field
			name="maintenance"
			type="radio"
			default="0"
			label="COM_JMONITORINGSLAVE_CONFIG_MAINTENANCE"
			description="COM_JMONITORINGSLAVE_CONFIG_MAINTENANCE_DESC"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
	</fieldset>
	
	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" filter="rules" component="com_watchfulli" section="component">
			<action name="core.manage" title="JACTION_MANAGE" description="JACTION_MANAGE_COMPONENT_DESC" />
		</field>
	</fieldset>
</config>