 {
	"name": "Template",
	"elements":  {
		"bf722b66-dbf0-455a-b490-6b908fc801de":  {
			"name": "Image",
			"description": "",
			"access": "1",
			"upload_directory": "images\/stories\/zoo\/uploads\/",
			"max_upload_size": "512",
			"type": "image"
		},
		"a6f4d4be-bace-4108-9c2a-8c7fb9c0b6dd":  {
			"name": "Description",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"a476f82b-f3ad-4efd-9f1f-c7cf5a66028f":  {
			"name": "Duration",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"8393b973-7b99-48c6-b9ba-cbe4a742f45d":  {
			"name": "Price",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"334226a8-d318-4eb1-8240-122df482bc94":  {
			"name": "Order Text",
			"description": "The text displayed when the user's subscription is completed successfully",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"e8107d87-a2e1-40d3-b4c7-fd8e1e9275a2":  {
			"name": "Cancel Text",
			"description": "the text displayed when the user's subscription is not completed successfully",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"493942f4-3881-4430-ab02-41c89384475b":  {
			"name": "Modified",
			"description": "Last update",
			"access": "1",
			"repeatable": "0",
			"type": "date"
		},
		"494df6ff-8a79-42ef-a80b-26e089f6bad3":  {
			"name": "Yoonique Access Level",
			"description": "",
			"access": "1",
			"directory": "images",
			"download_mode": "2",
			"upload_extensions": "png,jpg,doc,mp3,mov,avi,mpg,zip,rar,gz",
			"upload_directory": "images\/zoo\/uploads\/",
			"max_upload_size": "512",
			"type": "yooniquedownload"
		},
		"453e23c1-964c-4c94-87bd-71e7d14a3cd7":  {
			"name": "File",
			"description": "",
			"access": "1",
			"directory": "images",
			"download_mode": "2",
			"upload_extensions": "png,jpg,doc,mp3,mov,avi,mpg,zip,rar,gz",
			"upload_directory": "images\/zoo\/uploads\/",
			"max_upload_size": "512",
			"type": "download"
		},
		"aa5f0622-bde0-4d07-95a0-32211889dfa6":  {
			"name": "Version",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"7378d870-63d5-4478-8c70-9105dee4b6c8":  {
			"name": "Author",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"252e0601-a063-4543-b0b1-dec0641c1aeb":  {
			"name": "License",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"be673df1-b4d3-48f4-a8b3-ceafacb2a8c9":  {
			"name": "Rating",
			"description": "",
			"access": "1",
			"stars": "5",
			"allow_vote": "1",
			"type": "rating"
		},
		"bf9bcead-fc9c-44a9-a7e8-83af00bc5570":  {
			"name": "Memberships Sync",
			"description": "",
			"access": "1",
			"default": "0",
			"type": "aksubslevelsync"
		},
		"_itemaccess":  {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor":  {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory":  {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemcommentslink":  {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated":  {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit":  {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage":  {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits":  {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink":  {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified":  {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname":  {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint":  {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down":  {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up":  {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext":  {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable":  {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate":  {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag":  {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}